*{
	margin: 0;
	padding: 0;
}
body {
	background-image: linear-gradient(to left,#fff 80% #f83df8 20%);
	/* background-color: #232323; */
	margin:0;
    font-family:"Montserrat" , "Avenir";
}

.square {
    border-radius: 25%;
    background: #fff;
    display: flex;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;	
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

.selected {
	color: black;
	background: white;
}

.c11 {
	background-image: linear-gradient(to left, #fff 75%, #c3f5ff 25%);
	height: 100vh;
	position: relative;
}

.container1 {
	max-width:600px;
    margin:20px auto;
    display: flex;
}

.container2 {
	max-width:600px;
    margin:20px auto;
    display: flex;
}

.square:hover {
    border: 5px solid black;
}

.image-head h1 {
	color: black;
	text-align:center;
	margin:0;
	background: rgb(109,36,15);
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.1;
	padding: 20px 0;
	background-image: linear-gradient(to top, #fff 60%, #c3f5ff 40%);
}

/* .image-head {
	background-image: linear-gradient(to top, #fff 60%, #c3f5ff 40%);
} */

#color {
	font-size: 200%
}

#reset {
	height:30px;
	color:black;
	background: #c3f5ff;
	text-align: center;
}

button {
	text-transform: uppercase;
	border:none;
	background: none;
	height:100%;
	font-weight: 700;
	color: black;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

#message {
	display :inline-block;
    width:20%;
    color: brown;
}

#message:hover {
    color: black;
    background: #fff;
    border-radius: 30%;
    transition-delay: 55ms;
}

button:hover {
	color: black;
    background: #fff;
    border-radius: 30%;
    transition-delay: 55ms;
}

.image-wrapper {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 100%;
}

