* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #fff 80%, #c3f5ff 20%);
}

.navigation {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, #fff 80%, #c3f5ff 20%);
}

.logo {
    width: 40%;
    color: #fff;
    background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
    padding-left: 100px;
    box-sizing: border-box;
}

.logo h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: rightleft 2.5s linear infinite;
    animation-direction: alternate;
}

@keyframes rightleft {
    from{
        padding-left: 40px;
        padding-right: 40px;
    }
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    font-size: 18px;
    position: relative;
}

nav a:first-child {
    color: blue;
}

nav a:before {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 2px solid #4458dc;
    transition: all 0.3s linear;
}

nav a:hover:before {
    width: 100%;
}

main {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightside {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: #e8fbff;
    /* background-color: red; */
}

.rightside img{
    max-width: 500px;
    border-radius: 2rem;
    height: auto;
}

.leftside{
    color: #000;
    text-transform: uppercase;
}

.leftside h3{
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
}

.leftside h3:after {
    content: "";
    width: 450px;
    height: 3px;
    position: absolute;
    top: 43%;
    left: 32.6%;
    background-color: #000;
}

.leftside h1{
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 25px;
}

.leftside .btn0{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin-right: 50px;
    color: #fff;
    letter-spacing: 0;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    border: double 2px transparent;
    box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
}

.leftside .btn0:hover{
    border: 2px solid #4458dc;
    color: #222;
    background-color: #fff;
    box-shadow: none;
    background-image: none;
}